{% extends "base_fous.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}Login Form{% endblock %}

{% block stylesheets %}
  <link href="{{ path('captcha_layout_stylesheet_url') }}" rel="stylesheet" />
{% endblock %}

{% block fos_user_content %}

    <form method="post" class="form-signin">

        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        
        <div class="login-container">
            <h1>Login to Your Account</h1><br>
            <script src='https://www.google.com/recaptcha/api.js'></script>
            <form>
                {% if error %}
                <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                <label for="username">{{ 'USER NAME : '|trans }}</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
                <label for="password">{{ 'PASSWORD : '|trans }}</label>
                <input type="password" id="password" name="_password" required="required" />
        
                {# show captcha image  #}
                    {% if capatcha_error_2 %}
                     <div>{{ capatcha_error_2}}</div>
                     {% endif %}
                {{ captcha_html | raw  }}
                <input type="text" id="captchaCode" name="captchaCode" required>
                    {% if capatcha_error %}
                     <div>{{ capatcha_error}}</div>
                     {% endif %}
                <div class="g-recaptcha" data-sitekey="6LftWT0UAAAAABRlggS5oZXwHIEDqfDob-XRyscL"></div>

                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />   
                <label for="remember_me">{{ 'REMEMBER ME.'|trans }}</label>
                <input type="submit" class="login login-submit" id="_submit" name="_submit" value="{{ 'SUBMIT'|trans }}" />
            </form>
            <div class="login-help">
                <a href="{{ path('fos_user_registration_register') }}">Register</a> - <a href="{{ path('fos_user_resetting_request') }}">Forgot Password</a>
            </div>
        </div>
    </form>
{% endblock fos_user_content %}